{% extends './base.html' %}

{% block body %}

<div class="col-md-12">
    <h1>{{ ref.ref_name }}</h1>
    <h4>{{ ref.author }}</h4>
    <hr>
</div>

<div class="col-md-8">
    <div class="ref-desc">
        <blockquote class="blockquote">
            {{ ref.desc }}
        </blockquote>
    </div>

    <h4>Comments</h4>
    <ul class="">
        {% for comment in ref.comment_set.all %}
        <li class="">
            <p class="m-b-0">
                {{ comment.comment_text }}
            </p>
            <footer class="blockquote-footer">
                {{ comment.speaker.username }}
            </footer>
        </li>
        {% endfor %}
    </ul>

    <h4>Related books</h4>

    <table class="table table-borderless" id="related-books">
        <tr>
            <th class="padded-lg">Prereqs</th>
            <td>
                <ul class="list-group">
                    {% if ref.prereqs.count %}
                    {% for f in ref.prereqs.iterator %}
                    <a class="related-book list-group-item" href="{% url 'refinator:ref_detail' f.id %}">
                        {{ f.ref_name }}
                    </a>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">No prerequisites!</li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th class="padded-lg">Read with</th>
            <td>
                <ul class="list-group">
                    {% if ref.read_with.count %}
                    {% for f in ref.read_with.iterator %}
                    <a class="related-book list-group-item" href="{% url 'refinator:ref_detail' f.id %}">
                        {{ f.ref_name }}
                    </a>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">None known.</li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <th class="padded-lg">Followups</th>
            <td>
                <ul class="list-group">
                    {% if ref.followups.count %}
                    {% for f in ref.followups.iterator %}
                    <a class="related-book list-group-item" href="{% url 'refinator:ref_detail' f.id %}">
                        {{ f.ref_name }}
                    </a>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">You've reached the boundaries of human knowledge.</li>
                    {% endif %}
                </ul>
            </td>
        </tr>

    </table>


</div>

<div class="col-md-4">
    <div id="bs-message-placeholder">
    </div>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td colspan="2">
                    <a class="btn btn-outline-primary btn-block" href="{{ ref.url }}">
                        <span class="fa fa-cloud-download fa-lg" aria-hidden="true"> </span>
                        Download ({{ ref.size|filesizeformat }} {{ ref.filetype }})
                    </a>
                </td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                    {% for tag in ref.tags.iterator %}
                    <!-- TODO link to tag -->

                    <span class="tag tag-default">
                        <i class="fa fa-tag fa-flip-horizontal" aria-hidden="true"></i>
                        {{ tag.tag_name }}
                    </span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>
                    Added
                </th>

                <td>
                    {{ ref.added_date }}
                </td>
            </tr>
            <tr>
                <th>Added by</th>
                <td>{{ ref.added_by.username }}</td>
            </tr>
            <tr>
                <th class="vertical-center">
                    Votes
                </th>
                <td>

                    <div class="btn-group">
                        {% if has_upvoted %}
                        <button class="btn btn-primary vote vote-up">
                            <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                        </button>
                        {% else %}
                        <button class="btn btn-primary-outline vote vote-up">
                            <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                        </button>
                        {% endif %}

                        <button class="btn btn-secondary" id="vote-count">
                            {{ ref.votes }}
                        </button>

                        {% if has_downvoted %}
                        <button class="btn btn-primary vote vote-down">
                            <span class="fa fa-thumbs-o-down" aria-hidden="true"></span>
                        </button>
                        {% else %}
                        <button class="btn btn-primary-outline vote vote-down">
                            <span class="fa fa-thumbs-o-down" aria-hidden="true"></span>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<div class="col-md-8"></div>


<script type="text/javascript">
 jQuery(function($) {

     bootstrapTopMessage = function(message, msgtype) {
         $('#bs-message-placeholder').html('<div class="alert alert-' + msgtype + ' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
     }
     bootstrapTopDanger = function(message) {
         bootstrapTopMessage(message, 'danger');
     }

     // Hook up our vote handlers
     $("button.vote").on('click', voteClick);

     function voteClick(event) {

         var upvoteLink = $("button.vote.vote-up");
         var hadUpvoted = upvoteLink.hasClass('btn-primary');
         var downvoteLink = $("button.vote.vote-down");
         var hadDownvoted = downvoteLink.hasClass('btn-primary');

         var voteLink, itemId;
         var voteLabel = document.getElementById('vote-count');

         // Regardless of the below, we handle the event, so "consume" it
         event.stopPropagation();
         event.preventDefault();

         voteLink = $(this);

         // Get the vote type
         voteType = voteLink.hasClass('vote-up') ? 'up' : 'down';

         // Get its ID
         itemId = {{ ref.id }};

         // If we didn't get an ID...
         if (!itemId) {
             // ...report error
             return;
         }

         inactivateLink = function(link) {
             link.removeClass('btn-primary');
             link.addClass('btn-primary-outline');
         }
         activateLink = function(link) {
             link.removeClass('btn-primary-outline');
             link.addClass('btn-primary');
         }

         $.ajax({
             url:     "/{{ ref.id }}/vote/" + voteType + "/",
             type:    'POST',
             statusCode: {
                 200: function(xhr) {

                     var delta = 0;
                     if (voteType === 'up') {
                         if (hadUpvoted) {
                             // cancel upvote
                             delta = -1;
                             inactivateLink(upvoteLink);
                         } else if (hadDownvoted) {
                             delta = 2;
                             inactivateLink(downvoteLink);
                             activateLink(upvoteLink);
                         } else {
                             delta = 1;
                             activateLink(upvoteLink);
                         }
                     } else {

                         if (hadDownvoted) {
                             // cancel upvote
                             delta = 1;
                             inactivateLink(downvoteLink);
                         } else if (hadUpvoted) {
                             delta = -2;
                             inactivateLink(upvoteLink);
                             activateLink(downvoteLink);
                         } else {
                             delta = -1;
                             activateLink(downvoteLink);
                         }
                     }

                     voteLabel.innerText = delta + parseInt(voteLabel.innerText);
                 },
                 403: function(xhr) {
                     if(window.console) console.log("403");
                     bootstrapTopDanger("You must log in to vote.");
                 }
             }
         });
     }
 });
</script>


{% endblock %}
