{% extends './base.html' %}

{% block body %}

<div class="col-md-8 inline-headers">
<span class="h1 pull-left">{{ ref.ref_name }}  </span>
<a class="btn btn-outline-primary" href="{{ ref.url }}">download ({{ ref.size|filesizeformat }} {{ ref.filetype }})</a>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h2>Comments</h2>
<ul>
{% for comment in ref.comment_set.all %}
    <li>{{ comment.comment_text }}</li>
{% endfor %}
</ul>
</div>

<div class="col-md-4">
<h6>Tags</h6>
{% for tag in ref.tags.iterator %}
    <!-- TODO link to tag -->
    <span class="tag tag-default">{{ tag.tag_name }}</span>
{% endfor %}
<table class="table">
    <tr>
        <td>Author</td>
        <td>{{ ref.author }}</td>
    </tr>

    <tr>
        <td>Filetype</td>
        <td>{{ ref.filetype }}</td>
    </tr>

    <tr>
        <td>Votes</td>
        <td>{{ ref.votes }}</td>
    </tr>

    <tr>
        <td> </td>
        <td> </td>
    </tr>
</table>
<form action="{% url 'refinator:vote' ref.id %}" method="post">
{% csrf_token %}
    <button class="btn btn-primary" type="submit">
        vote
    </button>
</form>
</div>




{% endblock %}
