{% extends "main/base.html" %}

{% block title %}Log in{% endblock %}


{% block body %}

{% if form.errors %}
<div class="alert alert-danger alert-dismissable fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    Your username and password don't match any registered user.
    Maybe you'd like to <a href="{% url 'refinator:register' %}" class="alert-link">sign up</a> instead?
</div>
{% endif %}

{% for error in messages %}
<div class="alert alert-danger alert-dismissable fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ error }}
</div>

{% endfor %}

<div class="container">
    <form method="post" action="{% url 'refinator:login' %}">
        {% csrf_token %}

        <div class="form-group row">
            <div class="col-sm-4">
            <input type="text" name="username" class="form-control" id="{{ form.username.id_for_label }}" placeholder="Username" required>
            </div>
        </div>

        <div class="form-group row"> 
            <div class="col-sm-4">
            <input type="password" name="password" class="form-control" id="{{ form.password.id_for_label }}" placeholder="Password" required>
            </div>
        </div>

        <button type="submit"  value="login"  class="btn">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

{% endblock %}
