{% extends 'main/base.html' %}

{% block title %}References{% endblock %}
{% block header %}References{% endblock %}

{% block body %}

{% if user %}
{{ user.first_name }}
{% endif %}
<div class="">
    {% if ref_list %}
    <div class="list-group">
        {% for ref in ref_list %}
        {% include 'refs/ref-listitem.html' with ref=ref %}
        {% endfor %}
    </div>
    {% else %}
    <p>No references are available.</p>
    {% endif %}
</div>

{% include "main/pagination.html" with paged_object=ref_list paging_url_component="refs" %}

{% endblock %}
