{% load markdown_deux_tags %}
<li class="ref-listitem list-group-item list-group-item-action col-md-12" style="padding-top: 1rem; padding-bottom: 0rem; padding-left: 0rem; padding-right:0rem;">
    {% if none_found %}
    <div class="col-md-12 p-b-0">
        <h5 class="list-group-item-heading">No references were found for the tag {% include 'tags/tag-pill.html' with tag=tag %}.</h5>
        <div class="list-group-item-text text-muted">
            Maybe you'd like to <a href="{% url 'refinator:tag_create' %}">add one</a>?
        </div>
        <br>
    </div>
    {% else %}
    <div class="m-b-half col-md-5">
        <a href="{% url 'refinator:ref_detail' ref.id %}">
            <h5 class="list-group-item-heading">{{ ref.ref_name }}</h5>
        </a>
        <div class="list-group-item-text text-muted">{{ ref.author }}</div>
        <div class="m-b-half m-t-half">
        {% include 'refs/vote-pill.html' %}
        {% for tag in ref.tags.iterator %}
        <!-- TODO link to tag -->
        {% include 'tags/tag-pill.html' with tag=tag %}
        {% endfor %}
        </div>
    </div>
    <div class="col-md-7">
        {{ ref.desc|markdown }}
    </div>
    {% endif %}
</li>
