{% extends 'main/base.html' %}
{% load markdown_deux_tags %}

{% block title %}Tag search{% endblock %}
{% block header %}Tag search{% endblock %}
{% block buttons %}{% include 'main/search.html' with slug=tag %}{% endblock %}

{% block body %}

<div class="">
    {% if results %}
    <div class="list-group">
        {% for tag in results %}
        <a href="{% url 'refinator:tag_detail' tag.id %}" class="list-group-item list-group-item-action">
            <div style="margin-bottom: 5px;"
                 {% include 'tags/tag-pill.html' with tag=tag nolink=True %}
            </div>
            <br>
            {{ tag.desc|markdown }}
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p>No tags are available.</p>
    {% endif %}
</div>

{% include "main/pagination.html" with paged_object=tag_list paging_url_component="tags" %}

<script type="text/javascript">
 $('#search-btn').click(function() {
     window.location = "/tags/search/" + $('#search-query').val();
 });
</script>

{% endblock %}
