{% extends 'main/base.html' %}
{% load app_filters %}
{% load markdown_deux_tags %}

{% block title %}
{{ tag.tag_name }}
{% endblock %}

{% block header %}
{{ tag.tag_name|upcase_first_letter }}
<a href="/tags/edit/{{ tag.id }}/" class="btn btn-primary">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    edit this tag
</a>
{% endblock %}


{% block body %}

<p>
{{ tag.desc|markdown }}
</p>

<div class="list-group">
    {% if tag.reference_set.count > 0 %}

    {% for ref in tag.reference_set.iterator %}
    {% include 'refs/ref-listitem.html' with ref=ref %}
    {% endfor %}

    {% else %}
    {% include 'refs/ref-listitem.html' with none_found=True tag=tag %}
    {% endif %}
</div>

{% endblock %}
